1. Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:

In [10]:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

for lista in lista_de_listas:
    print(f'Lista {lista}: {sum(lista)}')

Lista [4, 6, 5, 9]: 24
Lista [1, 0, 7, 2]: 10
Lista [3, 4, 1, 8]: 16

2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:

In [13]:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

terceiro_elemento = list(map(lambda x: x[2], lista_de_tuplas))

print("Terceiro elemento de cada tupla:\n", terceiro_elemento)

Terceiro elemento de cada tupla:
 [81, 67, 83]

3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.

In [13]:
lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

lista_tuplas = list(map(lambda x, y: (x, y), range(len(lista)), lista))

print("Lista de tuplas com indice e nome:\n", lista_tuplas)

Lista de tuplas com indice e nome:
 [(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

4. Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento', a partir da seguinte lista de tuplas:

In [41]:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

nova_lista = [aluguel[item][1] for item in range(0, len(aluguel)) if aluguel[item][0] == 'Apartamento']

print("Lista de numeros dos apartamentos:\n", nova_lista)

Lista de numeros dos apartamentos:
 [1700, 1400, 1900]

5. Crie um dicionário usando o dict comprehension em que as chaves estão na lista meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'] e os valores estão em despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].

In [44]:
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

dicionario = {meses[i]: despesa[i] for i in range(0, len(meses))}

print("Dicionario de despesas mensais:\n", dicionario)

Dicionario de despesas mensais:
 {'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

6. Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000. A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda para que você ajude a realizar a filtragem dos dados a partir de um código:

    vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]


    Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.

In [47]:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

filtro_22_6k = [vendas[i] for i in range(0, len(vendas)) if vendas[i][0] == '2022' and vendas[i][1] > 6000]

print("Vendas de 2022 acima de R$ 6000:\n", filtro_22_6k)

Vendas de 2022 acima de R$ 6000:
 [('2022', 8883), ('2022', 7688), ('2022', 9544), ('2022', 8190)]

7. Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

    - Glicose igual ou inferior a 70: 'Hipoglicemia'
    - Glicose entre 70 a 99: 'Normal'
    - Glicose entre 100 e 125: 'Alterada'
    - Glicose superior a 125: 'Diabetes'
    
    A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension contendo o rótulo e o valor da glicemia em cada tupla.

In [ ]:
glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

rotulos = [("Hipoglicemia", glicose) if glicose < 70
            else ("Normal", glicose) if glicose < 100
            else ("Alterada", glicose) if glicose < 125
            else ("Diabetes", glicose) for glicose in glicemia]

print(rotulos)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

8. Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:

    id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
    
    quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
    
    preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]

    O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda, que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas: 'id', 'quantidade', 'preco' e 'total'.

    Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.

In [66]:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
colunas = ("id", "quantidade", "preco", "total")

preco_total = list(map(lambda x, y: x * y, quantidade, preco))


tabela = [colunas, list(zip(id, quantidade, preco, preco_total))]
tabela

[('id', 'quantidade', 'preco', 'total'),
 [(0, 15, 93.0, 1395.0),
  (1, 12, 102.0, 1224.0),
  (2, 1, 18.0, 18.0),
  (3, 15, 41.0, 615.0),
  (4, 2, 122.0, 244.0),
  (5, 11, 14.0, 154.0),
  (6, 2, 71.0, 142.0),
  (7, 12, 48.0, 576.0),
  (8, 2, 14.0, 28.0),
  (9, 4, 144.0, 576.0)]]