### Desafio: Hora da Pratica

Chegou o momento de praticar! Vamos aplicar os conceitos aprendidos durante a aula a partir de algumas atividades. Solucione os problemas propostos através de códigos utilizando a base de dados disponibilizada no curso.

1) Encontre os valores únicos das colunas "Nível 1 - Setor" e "Estado" para identificar as atividades econômicas presentes na base de dados e se todos os Estados do Brasil estão presentes no DataFrame.

2) Filtre o DataFrame somente com os dados dos Estados da região Sul do Brasil.

3) Filtre o DataFrame somente com os dados de "Mudança de Uso da Terra e Floresta" que sejam do Estado do Amazonas.

4) Encontre o valor máximo de emissão do ano de 2021 para os dados de "Agropecuária" no Estado do Pará.

Caso precise de ajuda, opções de solução das atividades estarão disponíveis na seção “Opinião da pessoa instrutora”.

In [1]:
import pandas as pd

In [3]:
pd.ExcelFile('C:\\Users\RalphHara\\OneDrive\\Documents\\Ralph\\Education\\Data Science\\alura-python-for-ds-training\\pandas_selecao_agrupamento\\SEEG11.1-DADOS-NACIONAIS.xlsx').sheet_names

['Leia antes',
 'Dados',
 'Consulta Série Histórica',
 'Consulta Estados 2022',
 'Consulta Biomas 2022']

In [5]:
dados = pd.read_excel('C:\\Users\RalphHara\\OneDrive\\Documents\\Ralph\\Education\\Data Science\\alura-python-for-ds-training\\pandas_selecao_agrupamento\\SEEG11.1-DADOS-NACIONAIS.xlsx', sheet_name='Dados')

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309506 entries, 0 to 309505
Data columns (total 64 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Emissão/Remoção/Bunker  309506 non-null  object
 1   Gás                     309506 non-null  object
 2   Setor de emissão        309506 non-null  object
 3   Categoria emissora      309506 non-null  object
 4   Sub-categoria emissora  309506 non-null  object
 5   Produto ou sistema      309506 non-null  object
 6   Detalhamento            309506 non-null  object
 7   Recorte                 279866 non-null  object
 8   Atividade geral         309506 non-null  object
 9   Estado                  303341 non-null  object
 10  Bioma                   271725 non-null  object
 11  1970                    309281 non-null  float64
 12  1971                    309281 non-null  float64
 13  1972                    309281 non-null  float64
 14  1973                    309281 non-null  float64
 15  1974                    309506 non-null  float64
 16  1975                    309506 non-null  float64
 17  1976                    309506 non-null  float64
 18  1977                    309506 non-null  float64
 19  1978                    309506 non-null  float64
 20  1979                    309506 non-null  float64
 21  1980                    309506 non-null  float64
 22  1981                    309506 non-null  float64
 23  1982                    309506 non-null  float64
 24  1983                    309506 non-null  float64
 25  1984                    309506 non-null  float64
 26  1985                    309506 non-null  float64
 27  1986                    309506 non-null  float64
 28  1987                    309506 non-null  float64
 29  1988                    309506 non-null  float64
 30  1989                    309506 non-null  float64
 31  1990                    309461 non-null  float64
 32  1991                    309506 non-null  float64
 33  1992                    309506 non-null  float64
 34  1993                    309506 non-null  float64
 35  1994                    309461 non-null  float64
 36  1995                    309461 non-null  float64
 37  1996                    309461 non-null  float64
 38  1997                    309461 non-null  float64
 39  1998                    309506 non-null  float64
 40  1999                    309506 non-null  float64
 41  2000                    309506 non-null  float64
 42  2001                    309506 non-null  float64
 43  2002                    309506 non-null  float64
 44  2003                    309506 non-null  float64
 45  2004                    309506 non-null  float64
 46  2005                    309506 non-null  float64
 47  2006                    309506 non-null  float64
 48  2007                    309506 non-null  float64
 49  2008                    309505 non-null  float64
 50  2009                    309506 non-null  float64
 51  2010                    309506 non-null  float64
 52  2011                    309506 non-null  float64
 53  2012                    309505 non-null  float64
 54  2013                    309506 non-null  float64
 55  2014                    309506 non-null  float64
 56  2015                    309506 non-null  float64
 57  2016                    309506 non-null  float64
 58  2017                    309506 non-null  float64
 59  2018                    309506 non-null  float64
 60  2019                    309506 non-null  float64
 61  2020                    309506 non-null  float64
 62  2021                    309506 non-null  float64
 63  2022                    309506 non-null  float64
dtypes: float64(53), object(11)
memory usage: 151.1+ MB

In [7]:
dados['Emissão/Remoção/Bunker'].unique()

array(['Emissão', 'Remoção NCI', 'Emissão NCI', 'Bunker', 'Remoção'],
      dtype=object)

In [8]:
dados = dados[dados['Emissão/Remoção/Bunker'] == 'Emissão']

In [9]:
dados['Emissão/Remoção/Bunker'].unique()

array(['Emissão'], dtype=object)

In [10]:
dados = dados.drop(columns='Emissão/Remoção/Bunker')

In [11]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Index: 281055 entries, 0 to 309505
Data columns (total 63 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Gás                     281055 non-null  object
 1   Setor de emissão        281055 non-null  object
 2   Categoria emissora      281055 non-null  object
 3   Sub-categoria emissora  281055 non-null  object
 4   Produto ou sistema      281055 non-null  object
 5   Detalhamento            281055 non-null  object
 6   Recorte                 251415 non-null  object
 7   Atividade geral         281055 non-null  object
 8   Estado                  274932 non-null  object
 9   Bioma                   245017 non-null  object
 10  1970                    280830 non-null  float64
 11  1971                    280830 non-null  float64
 12  1972                    280830 non-null  float64
 13  1973                    280830 non-null  float64
 14  1974                    281055 non-null  float64
 15  1975                    281055 non-null  float64
 16  1976                    281055 non-null  float64
 17  1977                    281055 non-null  float64
 18  1978                    281055 non-null  float64
 19  1979                    281055 non-null  float64
 20  1980                    281055 non-null  float64
 21  1981                    281055 non-null  float64
 22  1982                    281055 non-null  float64
 23  1983                    281055 non-null  float64
 24  1984                    281055 non-null  float64
 25  1985                    281055 non-null  float64
 26  1986                    281055 non-null  float64
 27  1987                    281055 non-null  float64
 28  1988                    281055 non-null  float64
 29  1989                    281055 non-null  float64
 30  1990                    281010 non-null  float64
 31  1991                    281055 non-null  float64
 32  1992                    281055 non-null  float64
 33  1993                    281055 non-null  float64
 34  1994                    281010 non-null  float64
 35  1995                    281010 non-null  float64
 36  1996                    281010 non-null  float64
 37  1997                    281010 non-null  float64
 38  1998                    281055 non-null  float64
 39  1999                    281055 non-null  float64
 40  2000                    281055 non-null  float64
 41  2001                    281055 non-null  float64
 42  2002                    281055 non-null  float64
 43  2003                    281055 non-null  float64
 44  2004                    281055 non-null  float64
 45  2005                    281055 non-null  float64
 46  2006                    281055 non-null  float64
 47  2007                    281055 non-null  float64
 48  2008                    281054 non-null  float64
 49  2009                    281055 non-null  float64
 50  2010                    281055 non-null  float64
 51  2011                    281055 non-null  float64
 52  2012                    281054 non-null  float64
 53  2013                    281055 non-null  float64
 54  2014                    281055 non-null  float64
 55  2015                    281055 non-null  float64
 56  2016                    281055 non-null  float64
 57  2017                    281055 non-null  float64
 58  2018                    281055 non-null  float64
 59  2019                    281055 non-null  float64
 60  2020                    281055 non-null  float64
 61  2021                    281055 non-null  float64
 62  2022                    281055 non-null  float64
dtypes: float64(53), object(10)
memory usage: 137.2+ MB

In [14]:
dados['Setor de emissão'].unique()

array(['Agropecuária', 'Energia', 'Mudança de Uso da Terra e Floresta',
       'Processos Industriais', 'Resíduos'], dtype=object)

In [17]:
dados['Estado'].unique()

array(['Acre', 'Amapá', 'Amazonas', 'Maranhão', 'Mato Grosso', 'Pará',
       'Rondônia', 'Roraima', 'Tocantins', 'Alagoas', 'Bahia', 'Ceará',
       'Minas Gerais', 'Paraíba', 'Pernambuco', 'Piauí',
       'Rio Grande do Norte', 'Sergipe', 'Distrito Federal', 'Goiás',
       'Mato Grosso do Sul', 'Paraná', 'São Paulo', 'Espírito Santo',
       'Rio de Janeiro', 'Rio Grande do Sul', 'Santa Catarina', nan],
      dtype=object)

In [38]:
sul = dados[dados['Estado'].isin(['Rio Grande do Sul', 'Santa Catarina', 'Paraná'])]

In [39]:
type(sul)

pandas.core.frame.DataFrame

In [40]:
sul['Estado'].unique()

array(['Paraná', 'Rio Grande do Sul', 'Santa Catarina'], dtype=object)

,Gás,Setor de emissão,Categoria emissora,Sub-categoria emissora,Produto ou sistema,Detalhamento,Recorte,Atividade geral,Estado,Bioma,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
170,CH4 (t),Agropecuária,Cultivo de arroz,Cultivo em sistema irrigado inundado,Arroz,Vegetal,Diretas,Agricultura,Paraná,Cerrado,...,10.719539,7.818007,6.651201,5.525886,5.402919,5.098879,4.644283,5.270290,5.354779,5.329111
183,CO2e (t) GTP-AR2,Agropecuária,Cultivo de arroz,Cultivo em sistema irrigado inundado,Arroz,Vegetal,Diretas,Agricultura,Paraná,Cerrado,...,53.597693,39.090033,33.256004,27.629431,27.014597,25.494397,23.221417,26.351448,26.773897,26.645553
196,CO2e (t) GTP-AR4,Agropecuária,Cultivo de arroz,Cultivo em sistema irrigado inundado,Arroz,Vegetal,Diretas,Agricultura,Paraná,Cerrado,...,53.597693,39.090033,33.256004,27.629431,27.014597,25.494397,23.221417,26.351448,26.773897,26.645553
209,CO2e (t) GTP-AR5,Agropecuária,Cultivo de arroz,Cultivo em sistema irrigado inundado,Arroz,Vegetal,Diretas,Agricultura,Paraná,Cerrado,...,42.878154,31.272026,26.604803,22.103545,21.611678,20.395518,18.577134,21.081158,21.419118,21.316443
222,CO2e (t) GTP-AR6,Agropecuária,Cultivo de arroz,Cultivo em sistema irrigado inundado,Arroz,Vegetal,Diretas,Agricultura,Paraná,Cerrado,...,50.381831,36.744631,31.260644,25.971666,25.393721,23.964734,21.828132,24.770361,25.167464,25.046820

In [52]:
dados['Setor de emissão'].unique()

array(['Agropecuária', 'Energia', 'Mudança de Uso da Terra e Floresta',
       'Processos Industriais', 'Resíduos'], dtype=object)

In [54]:
(dados['Setor de emissão'] == 'Mudança de Uso da Terra e Floresta') & (dados['Estado'] == 'Amazonas')

0         False
1         False
2         False
3         False
4         False
          ...
309501    False
309502    False
309503    False
309504    False
309505    False
Length: 281055, dtype: bool